.site-header {

  .site-name,
  .site-slogan {
    background-color: $wwu-light-blue-lighter;
    background-origin: content-box;
    background-position: left top;
    background-size: contain;

    @include breakpoint($desktop) {
      border-left-color: #fff;
      border-left-style: solid;
    }
  }

  .site-name {
    @include replace-text('mens-resiliency-logo.svg');
  }
}
