.region-header {
  @include breakpoint($desktop) {
    bottom: 0;
    position: absolute;
    right: 0;
    right: percentage(1 / 3);
  }
}

header[role="banner"] > div {
  @include breakpoint($desktop) {
    width: 100%;
  }
}

.site-header {
  $zen-column-count: 3;

  @include zen-grid-container();
  position: relative;

  @include breakpoint($desktop) {
    height: 200px;
    overflow: hidden;
    width: 100%;
  }

  > a {
    @include breakpoint($desktop) {
      @include clearfix;
      display: block;
      height: 100%;
      width: auto;
    }
  }

  .site-banner {
    @include breakpoint($desktop) {
      @include zen-grid-item(2, 1);

      a {
        display: block;
      }

      img {
        width: auto;
      }
    }
  }

  .site-banner,
  .site-banner a,
  .site-banner img {
    @include breakpoint($desktop) {
      height: 100%;
    }
  }

  .site-name {
    @include breakpoint($desktop) {
      @include zen-grid-item(1, 1, right);
      background-position: left 50%;
      border-left-width: 10px;
      box-sizing: border-box;
      height: 100%;
      padding: 20px 2.5%;
    }
  }
}
