.main-nav {

  .menu .menu {

    .menu__item {

      .menu__link {
        @include breakpoint($desktop) {
          background-color: #eee;
          border-bottom-style: solid;
          border-bottom-color: #fff;
          color: $wwu-blue;
        }
      }

      .menu__link:hover,
      .menu__iink:focus {
        @include breakpoint($desktop) {
          background-color: $wwu-blue;
          color: #fff;
        }
      }
    }
  }
}
