header[role="banner"] > div {
  @include breakpoint($desktop) {
    max-height: none;
    overflow: visible;
  }
}

.site-header {
  line-height: 1.5;
}

.site-header .site-name {
  max-height: none;
  max-width: none;
  min-height: none;
  min-width: none;
}

.main-nav div div .menu li {
  padding: 0;
}

.western-header .western-logo a {
  display: block;
  margin-bottom: 0;
}

.western-header nav {
  z-index: 1;
}

main {
  display: block;
}
